name: 'Task OS2'

on:
  push:
    branches:
      - master


jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      
      - name: 'Print  Before folder contents'
        run: ls  


      - uses: actions/checkout@v3

      - name: 'Print After folder contents'
        run: ls  
